Source: ros-hydro-nerian-sp1
Section: misc
Priority: extra
Maintainer: Konstantin Schauwecker <konstantin.schauwecker@nerian.com>
Build-Depends: debhelper (>= 9.0.0), libsdl1.2-dev, ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Homepage: http://wiki.ros.org/nerian_sp1
Standards-Version: 3.9.2

Package: ros-hydro-nerian-sp1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cv-bridge, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: Node for the SP1 Stereo Vision System by Nerian Vision Technologies
